* {
    box-sizing: border-box;
  }
  
  header {
    background-color: #12090d;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  h1 {
    color: #1d2c49;
    font-size: 40px;
    background-color: #a49bea;
    padding-left: 50px;
  }

  .nav-icons {
    color: #f4cded;
    font-size: 20px;
    padding-right: 20px;
  }

  h2 {
    color: #1d2c49;
    font-size: 40px;
    background-color: #a49bea;
    padding-left: 50px;
  }

  .hero-banner {
    position: relative;
    text-align: center;
    background: #f4cded;
  }

  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    margin: 20px;
    background-color: #a49bea;
    padding-left: 10px;
    padding-right: 10px;
  }
 
#banner {
  max-height: 250px;
  width: 100%;
  object-fit: cover;
  opacity: 0.4;

}
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  
  h3 {
    color: #1d2c49;
    font-size: 50px;
    border-right: solid #1d2c49;
    padding-left: 20px;
  }

  .page-wrapper {
    padding: 50px;
  }

.page-grid {
  margin: 0px 5%;
  display: grid;
  height: 350px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "aboutmetitle me aboutmetext"
  "projectstitle horiseonproject horiseonproject"
  "projectstitle ledproject portfolioproject"
  "projectstitle pastelproject runbuddy"
  "contacttitle information information";
  margin: 20px
}

#aboutmetitle {
  grid-area: aboutmetitle;
}

#me {
  grid-area: me;
  background-image: url(../assets/img/01-me.jpg);
  width: 300px;
  height: 350px;
}

#aboutmetext {
  grid-area: aboutmetext;
}

#projectstitle {
  grid-area: projectstitle;
}

#horiseonproject {
  grid-area: horiseonproject;
  background-image: url("../assets/img/horiseon.JPG");
}

#ledproject {
  grid-area: ledproject;
  background-image: url("../assets/img/LED\ wall.JPG");
}

#portfolioproject {
  grid-area: portfolioproject;
  background-image: url("../assets/img/project\ 2.JPG");
}

#pastelproject {
  grid-area: pastelproject;
  background-image: url("../assets/img/pastel\ puzzle.JPG");
}

#runbuddy {
  grid-area: runbuddy;
  background-image: url("../assets/img/run\ buddy.JPG");
}

#contacttitle {
  grid-area: contacttitle;
}

#information {
  grid-area: information;
}
.page-grid-area {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
  height: 100px;
  width: 100px;
  flex-direction: flex-end;
}