* {
    box-sizing: border-box;
  }
  
  header {
    background-color: #12090d;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  h1 {
    color: #1d2c49;
    font-size: 40px;
    background-color: #a49bea;
    padding-left: 50px;
  }

  .nav-icons {
    color: #f4cded;
    font-size: 20px;
    padding-right: 20px;
  }

  .hero-banner {
    display: flex;
    position: absolute;
    
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  
  
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  