
* {
    box-sizing: border-box;
  }
 /*nav bar*/ 
  header {
    background-color: #12090d;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  h1 {
    color: #1d2c49;
    font-size: 40px;
    background-color: #a49bea;
    padding-left: 50px;
  }

  .nav-icons {
    color: #f4cded;
    font-size: 20px;
    padding-right: 20px;
  }
/*herobanner*/
  h2 {
    color: #1d2c49;
    font-size: 40px;
    background-color: #a49bea;
    padding-left: 50px;
  }

  .hero-banner {
    position: relative;
    text-align: center;
    background: #f4cded;
  }

  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    margin: 20px;
    background-color: #a49bea;
    padding-left: 10px;
    padding-right: 10px;
  }
 
#banner {
  max-height: 250px;
  width: 100%;
  object-fit: cover;
  opacity: 0.4;

/*main content*/
}
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  
  h3 {
    color: #1d2c49;
    font-size: 50px;
    border-right: solid #1d2c49;
    padding-right: 20px;
  }

  .page-wrapper {
    padding: 50px;
  }

.page-grid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 20% 40% 40%;
  grid-template-areas: 
  "aboutmetitle me aboutmetext"
  "projectstitle horiseonproject horiseonproject"
  "projectstitle ledproject portfolioproject"
  "projectstitle pastelproject runbuddy"
  "contacttitle information information";
  height: 400px;
  align-content: space-evenly;
}

#aboutmetitle {
  grid-area: aboutmetitle;
}

#me {
  grid-area: me;
  background-image: url(../assets/img/01-me.jpg);
}

#aboutmetext {
  grid-area: aboutmetext;
}

#projectstitle {
  grid-area: projectstitle;
}

#horiseonproject {
  grid-area: horiseonproject;
  background-image: url("../assets/img/horiseon.JPG");
}

#ledproject {
  grid-area: ledproject;
  background-image: url("../assets/img/LED\ wall.JPG");
}

#portfolioproject {
  grid-area: portfolioproject;
  background-image: url("../assets/img/project\ 2.JPG");
}

#pastelproject {
  grid-area: pastelproject;
  background-image: url("../assets/img/pastel\ puzzle.JPG");
}

#runbuddy {
  grid-area: runbuddy;
  background-image: url("../assets/img/run\ buddy.JPG");
}

#contacttitle {
  grid-area: contacttitle;
}

#information {
  grid-area: information;
}
.meimage {
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 300px;
  margin: auto;
}

.projectimage {
  background-position: center;
  background-size: cover;
  display: flex;
  position: relative;
  flex-direction: flex-end;
  height: 100px;
}

.contactme {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#horiseonheadline {
  background-color: #f4cded;
  border-bottom: 5px solid #1d2c49;
  position: absolute;
  right: -50px;
  top: 100px;
  padding: 25px;
  max-width: 50px;
  z-index: 100;
}

